.ListUsersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 95%;
	margin: 0 auto;
}

.ListUsers {
	display: flex;
	flex-direction: row;
	max-width: 350px;
	height: 95%;
	align-items: center;
	justify-content: flex-start;
	overflow-x: scroll;
	gap: 16px;
	/* margin: 0 auto; */
	padding: 0;
}

.UserCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 250px;
	height: 380px;
	gap: 12px;
	padding: 12px;
	background-color: #727272;
	border: 1px solid;
	border-radius: 8px;
}

.UserCard>div {
	text-align: left;
	width: 250px;
}

.UserCard>div>p {
	color: #fff;
}

.ButtonsUser {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	max-width: 98%;
	gap: 12px;
}

.ButtonsUser>button {
	color: #fff;
	background-color: #f8aa03;
}


@media (min-width: 700px) {
	.ListUsers {
		max-width: 1000px;
		overflow-x: hidden;
		flex-wrap: wrap;
		max-height: 500px;
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
		/* margin-top: 78px; */
	}

	.ListUsers::-webkit-scrollbar {
		width: 8px;
	}

	.ListUsers::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.ListUsers::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

}