
.FilteredElementContainerProfile{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 95%;
}

.CodesToBuyListProfile{
	display: flex;
	flex-direction: row;
	max-width: 330px;
	height: 95%;
	align-items: center;
	justify-content: flex-start;
	overflow-x: scroll;
	gap: 16px;
	/* margin: 0 auto; */
	padding: 0;
}

.CardCodeToBuyProfile{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 300px;
	height: 540px;
	gap: 12px;
	padding: 12px;
	background-color: #727272;
	border: 1px solid ;
	border-radius: 8px;
}

.CardCodeToBuyProfile>div{
	text-align: left;
	width: 280px;
}

.CardCodeToBuyProfile>div>p{
	color: #fff;
}


@media (min-width: 900px) {
	.FilteredElementContainerProfile{
		max-width: 540px;
	}

	.CodesToBuyListProfile{
		max-width: 100vh;
		width: 100%;
		height: 620px;
	}
}