
.FilteredElementContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 95%;
}

.CodesToBuyList{
	display: flex;
	flex-direction: row;
	max-width: 350px;
	height: 95%;
	align-items: center;
	justify-content: flex-start;
	overflow-x: scroll;
	gap: 16px;
	/* margin: 0 auto; */
	padding: 0;
}

.CardCodeToBuy{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 300px;
	height: 580px;
	gap: 12px;
	padding: 12px;
	background-color: #727272;
	border: 1px solid ;
	border-radius: 8px;
}

.CardCodeToBuy>div{
	text-align: left;
	width: 280px;
}

.CardCodeToBuy>div>p{
	color: #fff;
}

.ToSelect{
	background-color: #f8aa03;
	color: #fff;
}

.Selected{
	background-color: #fff;
	color: #000;
}

@media (min-width: 700px) {
	.FilteredElementContainer{
		max-width: 900px;
	}

	.CodesToBuyList{
		max-width: 100vh;
		width: 100%;
		height: 620px;
	}
}